.container{
    max-width:650px;
    padding:28px;
    margin:0 28px;
    border-radius:5px;
    overflow:hidden;
    background: rgba(0,0,0,0.2);
    box shadow:0 15px 20px rgba(0,0,0,0.6);

}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-image:linear-gradient(#e5d5e5,#0CBABA)
}
.inputbox input{
    height: 40px;
    width:95%;
    padding:0 10px;
    border-radius:10px;
    outline:none;
}
button{
    height:30px;
    width:20%
    color: rgb(79, 83, 81);
    padding:5px;  
}
.inputbox input:is(:focus)
{
    box-shadow:gray;
}
